<%= form_for(@order_service) do |f| %>
  <% if @order_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_service.errors.count, "error") %> prohibited this order service from being saved:</h2>
      <ul>
      <% @order_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tformulario"> 
    <%= f.label :cliente %> <br>
    <%= f.select :client_id, 
                 Client.all.collect {|p| [ p.nome.capitalize, p.id ] },
                 {include_blank: 'Escolha um Cliente'} %>    
  </div>
  <br>
  <div class="tformulario"> 
    <%= f.label :serviço %> <br>
    <%= f.collection_check_boxes(:service_ids, Service.all, :id, :descricao)%>          
  </div>  
  <br>

   <div class="tformulario">     
      <%= f.label :peça %> <br>
      <%= f.collection_check_boxes(:part_ids, Part.all, :id, :descricao)%>    
  </div> 
  <br>
  <div class="tformulario">
    <%= f.label :Data %>  <br>
    <%= f.text_field :date , :type => "date"%>
  </div>
  
  <div>
    <br>
    <%=f.submit "Salvar"%>
  </div>
<%end%>
